

.form {
    width: 20vw;
    min-width: 200px;
    
    margin: 0 auto;
    position: fixed;
    left: 10px;
    top: 80px;
    background-color: white;
  }
  .icon-add {
    display: none;
    position: absolute;
    right: 50%;
    transform:translate(+6px, -10px);
    font-size: 32px;
    color: #118df4;
  }
  #names_container {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 0 20%;
  }
  #show_names {
      width: fit-content;
    padding-top: 10px;
    margin: 0 auto;
   
    
  }
  .header {
    padding-top: 10px;
    height: 70px;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    position: fixed;
    top: 0;
    z-index: 10;
    color: #118df4;
    background-color: #fff;
  }
  .card_name {
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid black;
  }
  .header-title {
    width: fit-content;
    margin: 0 auto;
    border: 3px solid rgb(123, 157, 220);
    border-radius: 12px;
    padding: 0 10px;
    background-color: #fff;
    font-weight: bold;
  }
  .by {
    margin: 0;
    font-size: 12px;
  }
  main {
    margin-top: 70px;
  }
  .shown {
    display: block;
  }
  .hidden{
      display: none;
  }
  @media (width<720px) {
    .form {
      position: relative;
      top: 0;
      width: 80%;
    }
    #names_container {
      flex-direction: column;
      padding: 0 5%;
    }
    .header {
      font-size: medium;
      height: 30px;
    }
    .card_name {
      width: 100%;
    }
  
    .hidden {
      display: block;
    }
    .shown{
      display: none;
    }
  
    /* form > div {
      display: none;
    }
    form > .btn {
      display: none;
    } */
    #show_names {
      padding-top: 50px;
    }
  }